<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Actorpay Merchant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88D08D0627621A2F001D5282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D08D1C27621A30001D5282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D08D2727621A31001D5282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
